
:root{
    font-size:100px;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f2f2f2 ;
    
    font-weight: 700;
}
.header, .main-body{
    margin:0;
    padding:0;
}
.container{
    background-color:white;
    background-image: url('/images/bg-bottom.svg'), url('/images/bg-top.svg');
    background-position: left bottom, top right;
    background-repeat: no-repeat, no-repeat;
    height: 7rem;
    font-size: 0.15rem;
    margin: 1rem;
    font-family: 'Montserrat';
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: hsl(232, 13%, 33%)
}
@media(max-width: 600px){
    .container{
        height: 100%;
        margin: 0.3rem;
    }
}

.top{
    margin: 0 0 1rem 0;
    width: 60%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.text{
    margin-bottom: 0.25rem;
    font-size: 0.3rem;
    color: hsl(232, 13%, 33%);
}
@media (max-width: 600px){
    .text{
        margin-top:0.6rem;
        font-size: 0.2rem;
    }
}
.toggleContainer{
    width: 80%;
    display: flex;
    justify-content: center;
}

p{
    margin: 0 0.3rem 0 0.35rem;
    font-size: 15px;
    color: hsl(233, 13%, 49%);
}

.checkbox{
    display: none;
}
.sub{
    background: linear-gradient(180deg,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 0.20rem;
    width: 0.4rem;
    padding: 0.01rem;
    border-radius: 0.12rem;
}
.circle{
    background-color: white;
    height:0.18rem;
    width: 0.18rem;
    border-radius:50%;
    cursor: pointer;
}
.checkbox:checked + .sub{
    justify-content: flex-end;
}

.boxContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60%;
    margin:0;
    padding:0;
}
@media (max-width:600px){
    .boxContainer{
        width: 70%;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }
}

.box1, .box2, .box3{
    background-color:white;
    padding: 0.5rem;
    border: 0.1px solid white;
    border-radius: 0.1rem;
    width: 1.8rem;
    height: 60%;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}


.box2{
    background-image: linear-gradient(180deg,hsl(236, 72%, 79%),hsl(237, 63%, 64%)); 
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
    padding-top: 0.7rem;
    padding-bottom:0.7rem;
    color: white;
}

.price1, .price2{
    font-size: 0.45rem;
    font-weight: 900;
}

.bottombox{
    background-image: linear-gradient(180deg,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    padding-top: 0.08rem;
    padding-bottom: 0.08rem; 
    color: white;
    border-radius: 5px;
    margin-top: 0.1rem;
    outline:none;
    border:0;
    cursor: pointer;
}

.bottombox1{
    background-color: white;
    padding-top: 0.08rem;
    padding-bottom: 0.08rem; 
    border-radius: 5px;
    color: hsl(237, 63%, 64%);
    margin-top: 0.1rem;
    outline: none;
    border:0;
    cursor: pointer;
}

